.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  height: 300px;
}
.main form button {
  width: 50px;
  margin-top: 10px;
  align-self: center;
}
.main form label {
  display: flex;
  flex-direction: column;
}
.formContainer h2 {
  font-size: 2.25rem;
  font-weight: 900;
}
.formContainer {
  height: 600px;
  width: 600px;
  border-radius: 25px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
